<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIPUL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>         
    <link rel="stylesheet" href="../stylesheets/stylehome.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>                 

<body>

  <div id="main">
    <div id="nav1">
        <img src="../images/jordan.jpg" alt="">
        <div id="nav11">
            <h6>Find a Store</h6>
            <h6>|</h6>
            <h6>Help</h6>
            <h6>|</h6>
            <h6>Join Us</h6>
            <h6>|</h6>
            <h6><a href="/signin">Sign In</a></h6>
        </div>
    </div>
    <div id="nav2">
        <img src="../images/Nike Logo and symbol, meaning, history, PNG, brand.jpeg" alt="">
        <div id="nav21">
            <h3>New & Featured</h3>
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Kids</h3>
            <h3>Sale</h3>
            <h3>Customise</h3>
            <h3>SNKRS</h3>
        </div>
        <div id="new"> 
            <div id="new1"><i class="ri-search-line"></i><h3>Search</h3></div>
        <div id="nav22">
           
            <i class="ri-heart-line"></i>
            <i class="ri-shopping-bag-line"></i>
        </div>
        </div>
        </div>
        <div id="nav3">
               <h4>Save Up to 40%</h4>
           
        </div>
        <div id="nav4">
            <div id="nav41"> <video muted loop autoplay src="../images/ccjkzpgw76tsjbn7atha.mp4"></video> </div>
        </div>
  </div>
</body>
</html>
        

