<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
</head>
<body>
  
    <div id="rdiv">
    <div class="rform">
        <form action="/registerinfo" method="post" >
          <h2>Register</h2>
          <div class="ibox">
            <input type="text" name="username"  placeholder="Username">
          </div>
          <div class="ibox">
            <input type="text" name="name"  placeholder="Name">
          </div>
          <div class="ibox">
            <input type="text" name="email"  placeholder="Email">
          </div>
          <div class="ibox">
            <input type="number" name="mobile"  placeholder="Mobile No.">
          </div>
          <div class="ibox">
            <input type="password" name="password"  placeholder="Password">
          </div>
          <div class="ibox">
            <input type="text" name="image"  placeholder="Image Link">
          </div>          
          <input id="btn" type="submit" value="Register">
          
        </form>
    </div>

</body>
</html>